@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300;
  }
  
  html.dark body {
    @apply bg-slate-950 text-slate-100;
  }

  html:not(.dark) body {
    @apply bg-white text-slate-900;
  }
}